body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #006994;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 20px;
}

section h2 {
    color: #006994;
}

section#home {
    background-image: url('ocean.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

section#home p {
    font-size: 1.5em;
    color: black;
}



section#importance {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.importance-content {
    font-size: 1.2em;
    line-height: 1.6;
}

.importance-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.collapsible {
    background-color: #006994;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    margin: 5px 0;
    border-radius: 5px;
}

.active, .collapsible:hover {
    background-color: #004d66;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
}




section#about,  section#how-to-help, section#contact {
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-content img {
    width: 50%;
    border-radius: 10px;
    margin-right: 20px;
}

.about-text {
    width: 50%;
}

section#about p {
    font-size: 1.2em;
    line-height: 1.6;
}

section#importance p {
    font-size: 1.2em;
}

section#how-to-help ul {
    list-style-type: disc;
    margin: 20px;
}

section#how-to-help ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #006994;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background-color: #004d66;
}

footer {
    background-color: #006994;
    color: white;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}
